/* Breakpoints
576px
768px
992px */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0093CE;

}

.link {
    margin: 1rem;
    color: white;
}

.btn {
    border-radius: 1rem;
    padding: .5rem;

}

.btn-white {
    background-color: white;
}

.btn-blue {
    background-color: #0093CE;
    color: white;
}

.btn-violet{
    background-color: #9362BE;
    color: white;
}



/* container più stretto:container padding large in questo caso maggiore di 1rem */


.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


:root {
    --color-primary: #B4D0E7;
    --color-secondary: #ae83d3;
}

.bg-primary {
    background-color: var(--color-primary);

}

.bg-secondary {
    background-color: var(--color-secondary);
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
}

.col-1 {
    flex-basis: calc(100% / 3);
}

.col-2 {
    flex-basis: calc(100% / 3 * 2);
}

.col-3 {
    flex-basis: 100%;
}

.col-4{
    flex-basis:50%;
}

.card-flex{
    display: flex;
}

.w-100{
    width: 100%;

}
.text-center{
    text-align: center;
}